header{border-bottom:none!important;}
#container button.menu-btn{width:60px;height:60px;float:right;background: url(../images/main_menu.png) no-repeat center center;background-size: contain;margin-top:-70px;}
.main_visual{box-sizing:border-box;margin:20px 15px;}
.main_visual img.logo{width:90px;height:30px;}
.main_visual h3.main_title{font-size:17px;line-height:26px;font-weight: 400;}
.main_menu{box-sizing: border-box;clear: both;}
.main_menu li{width:calc(100%/2 - 10px);max-height:200px;border:1px solid #e3e3e3;border-radius:10px;background: #fff;box-shadow:5px 5px 9px #d4d4d4;margin:0px 0px 30px 0px;float: left;text-align:center;box-sizing:border-box;}
.main_menu li img{width:40%;display:block;margin:20px auto;}
.main_menu li p.black{color:#272727;font-size:20px;margin-bottom:20px;}
.main_menu li:nth-of-type(1){background: url(../images/main_menu_icon01.png) no-repeat top left;background-size: contain;}
.main_menu li:nth-of-type(2){background: url(../images/main_menu_icon02.png) no-repeat center center;background-size: contain;}
.main_menu li:nth-of-type(3){background: url(../images/main_menu_icon03.png) no-repeat top right;background-size: contain;}
.main_menu li:nth-of-type(4){background: url(../images/main_menu_icon04.png) no-repeat center center;background-size: contain;}
.main_menu li:nth-last-of-type(odd){float: right;}

/*.scroll_area{margin-top:150px;}*/
.top_area{width:100%;height:30px;line-height: 30px;margin-bottom:20px;float:left;}
.top_area h3.blue{font-size:22px;float:left;width:150px;}
.top_area .this_month{float:right;width:130px;height:30px;}
.top_area .this_month a{width:20px;height:30px;display:block;float: left;margin-top:5px;}
.top_area .this_month a img{width:20px;height:20px;display:block;margin:0 auto;}
.top_area .this_month p.year{float:left;width:40px;font-size:14px;font-weight:400;color:#555;line-height: 33px;text-align:center;}
.top_area .this_month p.month{float:left;width:35px;font-size:26px;font-weight:700;color:#555;text-align:center;margin-right:3px;}

.calendar{width:100%;box-sizing:border-box;clear: both;}
.calendar ul.month{width:100%;height:auto;}
.calendar ul.month li:first-of-type ul.week{height:30px!important;}
.calendar ul.month li:first-of-type ul.week li{line-height: 20px !important;font-size:14px;height:20px !important;}
.calendar ul.week{width:100%;box-sizing:border-box;height:45px;}
.calendar ul.week li{width:14.2%;float:left;height:45px;font-size:17px;text-align:center;font-weight: 400;}
.calendar ul.week li div.schedule{width:100%;box-sizing:border-box;float:left;height:auto;margin-top:3px;}
.calendar ul.week li div.schedule > div{width:20px;height:2px;margin:2px auto;}
.calendar ul.week li.sun{color:#f29b96;}
.calendar ul.week li.daily{color:#272727;}
.calendar ul.week li.sat{color:#74aaeb;}
.calendar ul.week li.today{color:#2a80e9;font-weight:700;}
.calendar ul.week li.bold{color:#555555;font-weight:700;}

.today_list{width: 100%;background: #f3f3f3;border-top:1px solid #d6d6d6;height:auto;float:left;padding:10px 15px;box-sizing: border-box;}
.today_list li{width:100%;height:60px;background: #fff;border:1px solid #e3e3e3;box-shadow: 5px 5px 13px #d4d4d4;margin-bottom:10px;border-radius:5px;}
.today_list li .left{width:40px;text-align:center;height:60px;float: left;border-radius:5px 0px 0px 5px;color:#fff;}
.today_list li .left p.date{font-size:19px;font-weight: 400;margin:10px 0px 5px;}
.today_list li .left p.day{font-size:13px;font-weight: 400;color:rgba(255,255,255,0.7);}
.today_list li .red{background:#f4b1ad;}
.today_list li .green{background:#94e3b9;}
.today_list li .right{width:calc(100% - 40px);float: left;box-sizing: border-box;padding:5px 10px;height:60px;}
.today_list li .right p.title{width:100%;font-size:17px;color:#272727;font-weight:500;margin:6px 0px;}
.today_list li .right p.sub_text{width:100%;height:14px;color:#8e8e8e;font-weight:400;margin-bottom:5px;font-size:14px;}
.today_list li .right p.sub_text::before{content:attr(data-category);margin-right:2px;}